%h1 Invoice paid

%p= "We received your payment for your Limestone subscription. Thanks #{@user.first_name}!"

%hr
  Limestone Subsctiption Receipt
  %br
  %br
  Amount:
  = @invoice.formatted_amount
  %br
  Charged to:
  = @invoice.formatted_card
  %br
  Transaction ID:
  = @invoice.number
  %br
  Date:
  = @invoice.formatted_invoice_date
%hr

%p
  Questions? Feel free to contact support@example.com at anytime.
