.row
  .col-sm-12.col-md-8.offset-md-2
    %h2 Forgot your password?
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!
      = f.input :email, autofocus: true, label: false, placeholder: "Email"
      .actions
        = f.submit "Send me reset password instructions", class: 'btn btn-primary btn-block'
    = render "devise/shared/links"
