%h1 Tell people about your pricing!

%p pages#pricing

.card-group.row.justify-content-md-center
  .card.col.col-lg-4
    .card-img-top
      %h1.text-center Basic
    .card-body
      %h5.card-title.text-center
        $9.00 USD
        %small /month
      .card-text
        %ul.list-group.list-group-flush
          %li.list-group-item
            = icon(:check)
            Get access
    .card-body
      = link_to 'Get Basic', new_registration_path(resource_name, plan_id: Product.active&.first&.plans&.active&.first&.id), class: 'btn btn-primary btn-block'

  .col.col-1
  .card.col.col-lg-4
    .card-img-top
      %h1.text-center Pro
    .card-body
      %h5.card-title.text-center
        $15.00 US
        %small /month
      .card-text
        %ul.list-group.list-group-flush
          %li.list-group-item
            = icon(:check)
            Get access
          %li.list-group-item
            = icon(:check)
            Access to Pro page
    .card-body
      = link_to 'Get PRO', new_registration_path(resource_name, plan_id: Product.active&.second&.plans&.active&.first&.id), class: 'btn btn-primary btn-block'
