%h1 Avatars
%table.table
  %thead
    %tr
      %th Image data
      %th{:colspan => "3"}
  %tbody
    - @avatars.each do |avatar|
      %tr
        %td= avatar.image_data
        %td= link_to 'Show', avatar
        %td= link_to 'Edit', edit_avatar_path(avatar)
        %td= link_to 'Destroy', avatar, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Avatar', new_avatar_path
