%nav.navbar.navbar-expand-lg.navbar-light.bg-light.navbar-fixed-top
  .container
    = link_to "Limestone", "/", class: "navbar-brand"
    %button.navbar-toggler{type: "button", data: { toggle: "collapse", target:"#navbar_loggedout" }}
      %span.navbar-toggler-icon
    #nav_loggedout.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li.nav-item
          = link_to "Pricing", pricing_path, class: "nav-link"
        %li.nav-item
          = link_to "About", about_path, class: "nav-link"
      .form
        = link_to "Sign up", main_app.new_user_registration_path, class: "btn btn-success" if Flipper.enabled?(:public_registration)
        = link_to "Sign in", main_app.new_user_session_path, class: "btn btn-primary"
