!!!
%html
  %head
    %title Limestone
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %meta{"http-equiv": "x-ua-compatible", content: "ie=edge"}
    = action_cable_meta_tag
    = tag :meta, name: "stripe-public-key", content: ENV["STRIPE_PUBLISHABLE_KEY"]
    -# Sprockets application.js
    = javascript_include_tag "application", "data-turbolinks-track": "reload"
    -# Webpacker application.js
    = javascript_pack_tag "application", "data-turbolinks-track": "reload"
    -# Webpacker application.css
    = stylesheet_pack_tag 'application'
    = javascript_include_tag "https://js.stripe.com/v3/"
    = csrf_meta_tags
  %body{ turbolinks? }
    = render "layouts/past_due" if user_signed_in? && current_user.past_due? && !current_user.removed?
    = render user_signed_in? ? "layouts/navbar_loggedin" : "layouts/navbar_loggedout"
    .container
      - flash.each do |name, msg|
        - if msg.is_a?(String)
          .alert.alert-dismissible{class: "alert-#{name}", role: "alert"}
            %button.close{type: "button", "data-dismiss": "alert", "aria-label": "Close"}
              %span{"aria-hidden": true} &times;
            = msg
      = yield
